body{
    background-color:  #ffedbc;
    

}

p{
    font-family: sans-serif;
    text-align: center;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    padding-left:18rem;
    padding-right: 18rem;
    
}

h1{
    color: #ed4264;
    letter-spacing: 5px;
    font-size: 35px ;
    font-family:  'Homemade Apple', cursive;
    text-align: center;
}
h3{
    text-align: center;
    color: #ed4264;
    font-size: 25px;
    font-family:  'Homemade Apple', cursive;
}
img{
    text-align: center;

}
.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
}
iframe{
    text-align: center;
}
a.previous {
    font-size: 30px;
    color: black;
    font-family:  'Homemade Apple', cursive;
    text-decoration: none;
    display: inline-block;
  padding: 8px 16px;
  
}
a.previous:hover {
    background-color:rgb(255, 7, 110);
    color: black;
  }
  a.next {
    font-size: 30px;
    color: black;
    font-family:  'Homemade Apple', cursive;
    text-decoration: none;
    display: inline-block;
  padding: 8px 16px;
  text-align: right;
  
  

}
a.next:hover {
    background-color:rgb(255, 7, 110);
    color: black;
  }