.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
  
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }
  .card-image {
    grid-area: image;
  }
  .card-text {
    grid-area: text;
  }
  .card-stats {
    grid-area: stats; 
  }
  .card-image {
    grid-area: image;
    background: url("https://i.pinimg.com/564x/60/ad/09/60ad0913f041312b24b849e19d7d0079.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  .card-image1 {
    grid-area: image;
    background: url("https://i.pinimg.com/564x/42/f4/fe/42f4fed7b4cd60c900f480395e3d455f.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  .card-image2 {
    grid-area: image;
    background: url("https://i.pinimg.com/564x/46/94/3c/46943c56c63a7dbd992b1261e4a33e52.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  .card-image3 {
    grid-area: image;
    background: url("https://i.pinimg.com/564x/4b/f2/ce/4bf2cee7c2c8bb9bb0bf79f7a9c6a542.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  .card-image4 {
    grid-area: image;
    background: url("https://i.pinimg.com/564x/60/ad/09/60ad0913f041312b24b849e19d7d0079.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  .card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
    color: rgb(255, 7, 110);
    font-family:  'Homemade Apple', cursive;
  }
  .card-stats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background:  #ed4264;
  }
  .card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    color: white;
    padding:10px;
  }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .grid{
    display: grid;
    grid-template-columns:repeat (3,1fr) ;

    grid-template-rows: repeat ( 3,1fr); 
  }
  a {
      text-decoration: none;
  }
  